# Python cache
__pycache__/
*.py[cod]
# Environment folders
.venv/
venv/
env/
# Generated outputs
*.nc
*.png
*.mp4
*.gif
*.txt
# Logs
*.log
# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore alternate-width folders
90W/
94W/
